{% extends 'base.html' %}

{% block title %}
  Primeiro Semestre
{% endblock %}

{% block content %}
  <ul>
    <li>LIC.0831 - Fundamentos da Educação I</li>
    <li>LIC.0032 - Informática</li>
    <li>LIC.0031 - Língua Portuguesa</li>
    <li>LIC.0466 - Matemática</li>
    <li>LIC.1006 - Pensamento Computacional</li>
    <li>LIC.0432 - Seminário de Integração Acadêmica</li>
    <li>LIC.0912 - Seminário de Orientação ao Desenvolvimento de Práticas Educativas e Formação Docente I</li>
  </ul>
{% endblock %}
