
{% extends 'base.html' %}

{% block title %}
Quarto Semestre
{% endblock %}

{% block content %}
<ul>
    <li>LIC.0837 - Leitura e Escrita de Textos Acadêmicos e de Divulgação Científica</li>
    <li>LIC.0041 - Metodologia do Trabalho Científico</li>
    <li>LIC.0051 - Organização e Gestão da Educação Brasileira</li>
    <li>LIC.1012 - Paradigmas de Linguagens de Programação</li>
    <li>LIC.0976 - Seminário de Orientação ao Desenvolvimento de Práticas Educativas e Formação Docente IV</li>
    <li>LIC.1011 - Sistemas Digitais</li>
</ul>
{% endblock %}
