{% extends 'base.html' %}
{% block title %}
  Segundo Semestre
{% endblock %}
{% block content %}
  <ul>
    <li>LIC.0423 - Filosofia da Mente</li>
    <li>LIC.0832 - Fundamentos da Educação II</li>
    <li>LIC.1008 - Fundamentos e Técnicas de Programação</li>
    <li>LIC.1007 - Lógica e Matemática Discreta</li>
    <li>LIC.0945 - Psicologia da Aprendizagem</li>
    <li>LIC.0977 - Seminário de Orientação ao Desenvolvimento de Práticas Educativas e Formação Docente II</li>
  </ul>
{% endblock %}
