{% extends 'base.html' %}

{% load static %}

{% block title %}
SpaceX adia lançamento do Starship
{% endblock %}

{% block content %}
<h2>SpaceX adia lançamento do Starship, o foguete mais poderoso da história</h2>

<h3>Decolagem do veículo espacial da empresa do bilionário Elon Musk foi adiada por questões técnicas. O foguete foi projetado para futuras missões à Lua e a Marte.
</h3>  
<img src="{% static 'images/spacex.webp' %}"/>

<p>A SpaceX, empresa do bilionário Elon Musk, adiou nesta segunda-feira (17) o primeiro voo orbital da nave Starship. O veículo espacial é apontado como o mais poderoso da história por sua grande capacidade de transportar pessoas e cargas. A expectativa é de que o novo lançamento aconteça ainda nesta semana.</p>

<p>A empresa espacial informou durante uma transmissão ao vivo, nos minutos finais da contagem regressiva, o cancelamento do voo no intervalo de pelo menos dois dias, a partir de hoje, citando um problema de pressurização no propulsor de foguete de estágio inferior, de acordo com a agência Reuters. </p>

<p>"Uma válvula de pressurização parece estar congelada, portanto, a menos que comece a operar em breve, não haverá lançamento hoje", publicou Elon Musk, dono da SpaceX.</p>

  <h5>Fonte: <a href="https://g1.globo.com/inovacao/noticia/2023/04/17/spacex-adia-lancamento-do-starship-o-foguete-mais-poderoso-da-historia.ghtml">https://g1.globo.com/inovacao/noticia/2023/04/17/spacex-adia-lancamento-do-starship-o-foguete-mais-poderoso-da-historia.ghtml</a></h5> 
{% endblock %}
